@import "tailwindcss";

@theme {
    --color-primary: #045b7d;
    --font-inter: var(--next-font-inter);
    --font-gotham-rounded: var(--next-font-gotham-rounded);
    --font-poppins: var(--next-font-poppins);
    --default-font-family: var(--font-gotham-rounded);
}

.next-font-inter {
    font-family: var(--next-font-inter);
}

.next-font-gotham-rounded {
    font-family: var(--next-font-gotham-rounded);
}
